@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #ed6b2d;
  --color-secondary: #294753;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
